[project]
name = "fe-svc"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.12"
dependencies = [
    "pydantic>=2.12.4",
    "pydantic-settings>=2.12.0",
    "streamlit>=1.51.0",
]
